---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";

// Filter portfolio entries with 'draft: false' & date before current date
const publishedPortfolio = await getCollection("portfolio", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Portfolio">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Portfolio</Fragment>
      <Fragment slot="desc">Conheça alguns dos nossos projectos.</Fragment>
    </Sectionhead>
    
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedPortfolio.map((portfolioEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Link href={portfolioEntry.data.avatar.src} style="inverted">
                <Picture
                src={portfolioEntry.data.avatar.src}
                alt={portfolioEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#ffffff"
                fit="cover"
                position="center"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              >
              </Picture>
              </Link>
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">
                {portfolioEntry.data.name}
              </h2>
              <h3 class="text-sm text-slate-500">
                {portfolioEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>