---
import { SEO } from 'astro-seo';
import Footer from '@components/footer.astro';
import Navbar from '@components/navbar/navbar.astro';
import '@fontsource/inter/variable.css';
import '../global.css';
import { Icon } from 'astro-icon';

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  '/pedraformosapreto.jpg',
  Astro.site
).toString();

const { title } = Astro.props;
const description = `Procurando pedra de qualidade no Funchal? A Pedra 
Formosa oferece mármores, granitos e Silestone para cozinhas, pavimentos, 
soleiras, capeamentos e peitoris. Orçamentos gratuitos, entrega rápida e 
vários acabamentos disponíveis. Melhor relação qualidade-preço na ilha. 
Solicite o seu orçamento gratuito hoje mesmo!`;

const makeTitle = title
  ? title
  : 'Astroship - Starter Template for Astro with Tailwind CSS';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description={description}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: 'website',
          title: `${makeTitle}`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: 'Pedra Formosa logo',
        },
        optional: {
          locale: 'pt_PT',
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
    <a href='https://wa.me/+351964489208' class='whatsapp-icon-float'>
      <Icon name='whatsapp-96' />
    </a>
  </body>
</html>
